{
  "AttributeList": [
    {
      "name": "电源开关",
      "accessMode": "READ_WRITE",
      "attribute": "PowerSwitchAll",
      "command": {
        "bit_flag_index": 0,
        "offset": 0,
        "len": 1
      },
      "status": {
        "offset": 0,
        "len": 1
      }
    },
    {
      "name": "照明灯",
      "accessMode": "READ_WRITE",
      "attribute": "Light",
      "command": {
        "bit_flag_index": 1,
        "offset": 1,
        "len": 1
      },
      "status": {
        "offset": 1,
        "len": 1
      }
    },
	 {
      "name": "菜谱数据",
      "accessMode": "READ_WRITE",
      "attribute": "CookID",
      "command": {
        "bit_flag_index": 2,
        "offset": 2,
        "len": 12
      },
      "status": {
        "offset": 20,
        "len": 12
      }
    },
    {
      "name": "延时关机",
      "accessMode": "READ_WRITE",
      "attribute": "DelayShutdown",
      "command": {
        "bit_flag_index": 14,
        "offset": 14,
        "len": 1
      },
      "status": {
        "offset": 17,
        "len": 1
      }
    },
    {
      "name": "烟机运行时间",
      "accessMode": "READ_ONLY",
      "attribute": "Runtime",
      "status": {
        "offset": 36,
        "len": 2
      }
    }
  ],
  "version": "xxx",
  "header": {
    "command": {
      "head": {
        "offset": 0,
        "len": 2,
        "default": 62709
      },
      "len": {
        "offset": 2,
        "len": 2
      },
      "type": {				
        "offset": 4,
        "len": 2,
        "default": 1024
      },
      "cmd": {
        "offset": 6,
        "len": 1,
        "default": 49
      },
      "stat": {
        "offset": 7,		
        "len": 1,
        "default": 1
      },
      "flags": {
        "offset": 8,
        "len": 2,
        "default": 0
      },
      "payload_bitflag": {
        "offset": 10,
        "len": 3
      },
      "payload_data": {
        "offset": 13,
        "len": 23
      },
      "crc": {
        "offset": 36,
        "prev": "payload_data",
        "len": 2,
        "explain": "定义好具体的crc算法, 目前用的是按位异或"
      }
    },
    "status": {
      "head": {
        "offset": 0,
        "len": 2,
        "default": 62709
      },
      "len": {
        "offset": 2,
        "len": 2
      },
      "type": {
        "offset": 4,
        "len": 2,
        "default": 1024
      },
      "cmd": {
        "offset": 6,
        "len": 1,
        "default": 48
      },
      "stat": {
        "offset": 7,
        "len": 1,
        "default": 2
      },
      "flags": {
        "offset": 8,
        "len": 2,
        "default": 0
      },
      "payload_data": {	
        "offset": 10,
        "len": 48
      },
      "crc": {
        "offset": 58,
        "len": 2,
        "explain": "定义好具体的crc算法"
      }
    }
  }
}