{
  "version": "xxx",
  "AttributeList": [
    {
      "name": "电源开关",
      "accessMode": "READ_WRITE",
      "attribute": "PowerSwitchAll",
      "command": {
        "bit_flag_index": 0,
        "offset": 0,
        "len": 1
      },
      "status": {
        "offset": 0,
        "len": 1
      }
    },
    {
      "name": "取消消毒",
      "accessMode": "READ_WRITE",
      "attribute": "Cancel",
      "command": {
        "bit_flag_index": 1,
        "offset": 1,
        "len": 1
      },
      "status": {
        "offset": 1,
        "len": 1
      }
    },
    {
      "name": "工作模式",
      "accessMode": "READ_WRITE",
      "attribute": "WorkMode",
      "command": {
        "bit_flag_index": 2,
        "offset": 2,
        "len": 1
      },
      "status": {
        "offset": 2,
        "len": 1
      }
    },
    {
      "name": "工作阶段",
      "accessMode": "READ_ONLY",
      "attribute": "WorkStage",
      "status": {
        "offset": 3,
        "len": 1
      }
    },
    {
      "name": "智能模式",
      "accessMode": "READ_WRITE",
      "attribute": "SmartMode",
      "command": {
        "bit_flag_index": 3,
        "offset": 3,
        "len": 1
      },
      "status": {
        "offset": 4,
        "len": 1
      }
    },
    {
      "name": "测试模式",
      "accessMode": "READ_WRITE",
      "attribute": "TestMode",
      "command": {
        "bit_flag_index": 4,
        "offset": 4,
        "len": 1
      },
      "status": {
        "offset": 5,
        "len": 1
      }
    },
    {
      "name": "工作时间",
      "accessMode": "WRITE_ONLY",
      "attribute": "WorkTime",
      "command": {
        "bit_flag_index": 5,
        "offset": 5,
        "len": 1
      }
    },
    {
      "name": "延时解锁情况",
      "accessMode": "READ_ONLY",
      "attribute": "DelayUnLockStatus",
      "status": {
        "offset": 7,
        "len": 1
      }
    },
    {
      "name": "预约启动时间",
      "accessMode": "READ_WRITE",
      "attribute": "AppointmentStartTime",
      "command": {
        "bit_flag_index": 6,
        "offset": 6,
        "len": 2
      },
      "status": {
        "offset": 8,
        "len": 2
      }
    },
    {
      "name": "输出",
      "accessMode": "READ_WRITE",
      "attribute": "Output",
      "command": {
        "bit_flag_index": 7,
        "offset": 8,
        "len": 1
      },
      "status": {
        "offset": 16,
        "len": 1
      }
    },
    {
      "name": "预约重复周期",
      "accessMode": "READ_ONLY",
      "attribute": "AppointmentRepeatCycle",
      "status": {
        "offset": 10,
        "len": 1
      }
    },
    {
      "name": "柜门运动控制",
      "accessMode": "READ_WRITE",
      "attribute": "DoorMoveControl",
      "command": {
        "bit_flag_index": 8,
        "offset": 9,
        "len": 1
      },
      "status": {
        "offset": 11,
        "len": 1
      }
    },
    {
      "name": "温度",
      "accessMode": "READ_WRITE",
      "attribute": "Temperature",
      "status": {
        "offset": 13,
        "len": 1
      }
    },
    {
      "name": "湿度",
      "attribute": "Humidity",
      "accessMode": "READ_ONLY",
      "status": {
        "offset": 14,
        "len": 1
      }
    },
    {
      "name": "臭氧浓度",
      "attribute": "OzoneConcentration",
      "accessMode": "READ_ONLY",
      "status": {
        "offset": 15,
        "len": 1
      }
    },
    {
      "name": "长效保洁状态",
      "attribute": "LongTermClean",
      "accessMode": "READ_ONLY",
      "status": {
        "offset": 17,
        "len": 1
      }
    },
    {
      "name": "故障号",
      "attribute": "FaultNumber",
      "accessMode": "READ_ONLY",
      "status": {
        "offset": 18,
        "len": 1
      }
    },
    {
      "name": "远程升级",
      "attribute": "OTA",
      "accessMode": "READ_ONLY",
      "status": {
        "offset": 19,
        "len": 1
      }
    },
    {
      "name": "3小时提示状态位",
      "attribute": "3HourRemindStat",
      "accessMode": "READ_ONLY",
      "status": {
        "offset": 20,
        "len": 1
      }
    },
    {
      "name": "当前工作状态",
      "attribute": "WorkStatus",
      "accessMode": "READ_ONLY",
      "status": {
        "offset": 21,
        "len": 1
      }
    },
    {
      "name": "预约开关",
      "accessMode": "READ_WRITE",
      "attribute": "AppointmentFlag",
      "command": {
        "bit_flag_index": 10,
        "offset": 10,
        "len": 1
      },
      "status": {
        "offset": 22,
        "len": 1
      }
    },
    {
      "name": "早餐时间",
      "accessMode": "READ_WRITE",
      "attribute": "BreakfastTime",
      "command": {
        "bit_flag_index": 11,
        "offset": 11,
        "len": 4
      },
      "status": {
        "offset": 23,
        "len": 4
      }
    },
    {
      "name": "午餐时间",
      "accessMode": "READ_WRITE",
      "attribute": "LunchTime",
      "command": {
        "bit_flag_index": 11,
        "offset": 15,
        "len": 4
      },
      "status": {
        "offset": 27,
        "len": 4
      }
    },
    {
      "name": "晚餐时间",
      "accessMode": "READ_WRITE",
      "attribute": "SupperTime",
      "command": {
        "bit_flag_index": 11,
        "offset": 19,
        "len": 4
      },
      "status": {
        "offset": 31,
        "len": 4
      }
    },
    {
      "name": "增加时间1",
      "accessMode": "READ_WRITE",
      "attribute": "ExtraTime1",
      "command": {
        "bit_flag_index": 11,
        "offset": 23,
        "len": 4
      },
      "status": {
        "offset": 35,
        "len": 4
      }
    },
    {
      "name": "增加时间2",
      "accessMode": "READ_WRITE",
      "attribute": "ExtraTime2",
      "command": {
        "bit_flag_index": 11,
        "offset": 27,
        "len": 4
      },
      "status": {
        "offset": 39,
        "len": 4
      }
    },
    {
      "name": "远程控制开关",
      "attribute": "RemoteControlSwitch",
      "accessMode": "READ_ONLY",
      "status": {
        "offset": 43,
        "len": 1
      }
    },
    {
      "name": "进行过智能消毒标志",
      "attribute": "SmartDisinfectFlag",
      "accessMode": "READ_ONLY",
      "status": {
        "offset": 44,
        "len": 1
      }
    },
    {
      "name": "预约下次工作模式",
      "attribute": "NextWorkMode",
      "accessMode": "READ_ONLY",
      "status": {
        "offset": 45,
        "len": 1
      }
    },
    {
      "name": "电源板OTA升级标志位",
      "attribute": "PowerPanelOTAStat",
      "accessMode": "READ_ONLY",
      "status": {
        "offset": 48,
        "len": 1
      }
    },
    {
      "name": "剩余时间",
      "attribute": "RemainTime",
      "accessMode": "READ_ONLY",
      "status": {
        "offset": 49,
        "len": 3
      }
    },
    {
      "name": "强制取消标志",
      "attribute": "ForceCancelFlag",
      "accessMode": "READ_ONLY",
      "status": {
        "offset": 52,
        "len": 1
      }
    },
    {
      "name": "工作描述",
      "attribute": "WorkDescribe",
      "accessMode": "READ_ONLY",
      "status": {
        "offset": 53,
        "len": 1
      }
    },
    {
      "name": "设置的总工作时间",
      "attribute": "TotalWorkTime",
      "accessMode": "READ_ONLY",
      "status": {
        "offset": 54,
        "len": 2
      }
    }
  ],
  "header": {
    "command": {
      "head": {
        "offset": 0,
        "len": 2,
        "default": 62709
      },
      "len": {
        "offset": 2,
        "len": 2
      },
      "type": {
        "offset": 4,
        "len": 2,
        "default": 1536
      },
      "cmd": {
        "offset": 6,
        "len": 1,
        "default": 49
      },
      "stat": {
        "offset": 7,
        "len": 1,
        "default": 1
      },
      "flags": {
        "offset": 8,
        "len": 2,
        "default": 0
      },
      "payload_bitflag": {
        "offset": 10,
        "len": 2
      },
      "payload_data": {
        "offset": 12,
        "len": 33
      },
      "crc": {
        "offset": 45,
        "prev": "payload_data",
        "len": 2,
        "explain": "定义好具体的crc算法, 目前用的是按位异或"
      }
    },
    "status": {
      "head": {
        "offset": 0,
        "len": 2,
        "default": 62709
      },
      "len": {
        "offset": 2,
        "len": 2
      },
      "type": {
        "offset": 4,
        "len": 2,
        "default": 1536
      },
      "cmd": {
        "offset": 6,
        "len": 1,
        "default": 48
      },
      "stat": {
        "offset": 7,
        "len": 1,
        "default": 2
      },
      "flags": {
        "offset": 8,
        "len": 2,
        "default": 0
      },
      "payload_data": {
        "offset": 10,
        "len": 64
      },
      "crc": {
        "offset": 74,
        "len": 2,
        "explain": "定义好具体的crc算法"
      }
    },
    "services": {
      "GetAppointments": {},
      "SetAppointments": {},
      "GetDinnerName": {},
      "SetDinnerName": {}
    }
  }
}