{
  "AttributeList": [
    {
      "attr": "PowerSwitchAll",
      "cmd": {
        "offset": 0,
        "len": 1,
        "bit_index": 0
      },  
      "status": {
        "offset": 2,
        "len": 1
      }
    },
    {
      "attr": "WorkMode",
      "cmd": {
        "offset": 1,
        "len": 1,
        "bit_index": 1
      },
      "status": {
        "offset": 3,
        "len": 1
      }
    },
    {
      "attr": "Light",
      "cmd": {
        "offset": 2,
        "len": 1,
        "bit_index": 2
      },  
      "status": {
        "offset": 4,
        "len": 1
      }
    },
    {
      "attr": "Delay",
      "cmd": {
        "offset": 3,
        "len": 1,
        "bit_index": 3
      },  
      "status": {
        "offset": 5,
        "len": 1
      }
    },
    {
      "attr": "GearRank",
      "cmd": {
        "offset": 4,
        "len": 1,
        "bit_index": 4
      },
      "status": {
        "offset": 6,
        "len": 1
      }
    },
    {
      "attr": "AirVolume",
      "cmd": {
        "offset": 5,
        "len": 1,
        "bit_index": 5
      }
    },	
    {
      "attr": "AirQul",
      "status": {
        "offset": 10,
        "len": 1,
		"bit_offset": 0,
		"bit_len": 4
	  }
    },
    {
      "attr": "AirButlerState",
      "status": {
        "offset": 10,
        "len": 1,
		"bit_offset": 4,
		"bit_len": 4
	  }
    },
    {
      "attr": "ErrF1",
      "status": {
        "offset": 22,
        "len": 1,
		"bit_offset": 0,
		"bit_len": 1
	  }
    },	
    {
      "attr": "ErrF2",
      "status": {
        "offset": 22,
        "len": 1,
		"bit_offset": 1,
		"bit_len": 1
	  }
    },	
	{
      "attr": "ErrF5",
      "status": {
        "offset": 22,
        "len": 1,
		"bit_offset": 4,
		"bit_len": 1
	  }
    },	
	{
      "attr": "ErrF6",
      "status": {
        "offset": 22,
        "len": 1,
		"bit_offset": 5,
		"bit_len": 1
	  }
    },
	{
      "attr": "ErrF8",
      "status": {
        "offset": 22,
        "len": 1,
		"bit_offset": 7,
		"bit_len": 1
	  }
    },	
	{
      "attr": "ErrF9",
      "status": {
        "offset": 23,
        "len": 1,
		"bit_offset": 0,
		"bit_len": 1
	  }
    },
	{
      "attr": "ErrF10",
      "status": {
        "offset": 23,
        "len": 1,
		"bit_offset": 1,
		"bit_len": 1
	  }
    },
	{
      "attr": "ErrF11",
      "status": {
        "offset": 23,
        "len": 1,
		"bit_offset": 2,
		"bit_len": 1
	  }
    },
	{
      "attr": "ErrF12",
      "status": {
        "offset": 23,
        "len": 1,
		"bit_offset": 3,
		"bit_len": 1
	  }
    },
	{
      "attr": "ErrF13",
      "status": {
        "offset": 23,
        "len": 1,
		"bit_offset": 4,
		"bit_len": 1
	  }
    },
	{
      "attr": "ErrF14",
      "status": {
        "offset": 23,
        "len": 1,
		"bit_offset": 5,
		"bit_len": 1
	  }
    },
	{
      "attr": "GeneratorErr",
      "status": {
        "offset": 24,
        "len": 1,
		"bit_offset": 0,
		"bit_len": 1
	  }
    },
	{
      "attr": "PusnRodErr",
      "status": {
        "offset": 24,
        "len": 1,
		"bit_offset": 1,
		"bit_len": 1
	  }
    },
	{
      "attr": "GasSensorErr",
      "status": {
        "offset": 24,
        "len": 1,
		"bit_offset": 2,
		"bit_len": 1
	  }
    },
	{
      "attr": "PurifierErr",
      "status": {
        "offset": 24,
        "len": 1,
		"bit_offset": 3,
		"bit_len": 1
	  }
    },
	{
      "attr": "TempSensorErr",
      "status": {
        "offset": 24,
        "len": 1,
		"bit_offset": 6,
		"bit_len": 2
	  }
    },
	{
      "attr": "AcousticSensorErr",
      "status": {
        "offset": 25,
        "len": 1,
		"bit_offset": 0,
		"bit_len": 1
	  }
    },
	{
      "attr": "AirSensorErr",
      "status": {
        "offset": 25,
        "len": 1,
		"bit_offset": 1,
		"bit_len": 1
	  }
    },
	{
      "attr": "RSLinkErr",
      "status": {
        "offset": 25,
        "len": 1,
		"bit_offset": 2,
		"bit_len": 1
	  }
    },
	{
      "attr": "FanHealthNotice",
      "status": {
        "offset": 26,
        "len": 1,
		"bit_offset": 0,
		"bit_len": 1
	  }
    },
	{
      "attr": "PurifierHealthNotice",
      "status": {
        "offset": 26,
        "len": 1,
		"bit_offset": 1,
		"bit_len": 1
	  }
    },
	{
      "attr": "VoiceBoxState",
      "status": {
        "offset": 26,
        "len": 1,
		"bit_offset": 2,
		"bit_len": 1
	  }
    },
	{
      "attr": "PublicFlueState",
      "status": {
        "offset": 26,
        "len": 1,
		"bit_offset": 3,
		"bit_len": 1
	  }
    },
	{
      "attr": "DenoiseModuleState",
      "status": {
        "offset": 26,
        "len": 1,
		"bit_offset": 4,
		"bit_len": 1
	  }
    },
	{
      "attr": "GasSensorCleanNotice",
      "status": {
        "offset": 26,
        "len": 1,
		"bit_offset": 7,
		"bit_len": 1
	  }
    }
  ],
  "version": "1.0.0",
  "header": {
    "cmd": {
      "head": {
        "offset": 0,
        "len": 2,
        "default": 62709
      },
      "len": {
        "offset": 2,
        "len": 1
      },
      "cmd": {
        "offset": 3,
        "len": 1,
        "default": 2
      },
      "addr": {
        "offset": 4,
        "len": 1,
		"default":200
      },
	  "bitflag": {
        "offset": 5,
        "len": 1
      },
      "data": {
        "offset": 6,
        "len": 28
      },
	  "crc": {
        "offset": 34,
        "len": 2
      }
    },
    "status": {
      "payloadData": {
        "offset": 5,
        "len": 32
      }
    }
  }
}