{
  "serviceList": [
  {
	"name":"startRecord",
	"func":"startRecord",
	"request":{
		"paramList":[
			"recipeId",
			"command"
		]
	},
	"reponse":{
		"paramList":[
			"status",
			"recipeId"
		]
	}
  },
  {
	"name":"startRecordStove",
	"func":"startRecordStove",
	"request":{
		"paramList":[
			"recipeId"
		]
	},
	"reponse":{
		"paramList":[
			"status",
			"recipeId"
		]
	}
  },
  {
	"name":"stopRecordWiFi",
	"func":"stopRecordWiFi",
	"request":{
		"paramList":[
			"recipeId"
		]
	},
	"reponse":{
		"paramList":[
			"recipeId",
			"status",
			"interruptNodes"
		]
	}
  },
  {
	"name":"stopRecordStove",
	"func":"stopRecordStove",
	"request":{
		"paramList":[
			"recipeId",
			"status",
			"interruptNodes"
		]
	},
	"reponse":{
		"paramList":[
			"recipeId"
		]
	}
  },
  {
	"name":"queryRecipes",
	"func":"queryRecipes",
	"request":{
		"paramList":[
			"recipeId"
		]
	},
	"reponse":{
		"paramList":[
			"recipeId",
			"status",
			"interruptNodes",
			"recipeData"
		]
	}
  },
  {
	"name":"startCook",
	"func":"startCook",
	"request":{
		"paramList":[
			"recipeId",
			"recipeData"
		]
	},
	"reponse":{
		"paramList":[
			"recipeId",
			"status"
		]
	}
  }
  ],
  "version": "0.0.1",
  "header": {
    "command": {
      "head": {
        "offset": 0,
        "len": 2,
        "default": 62709
      },
      "len": {
        "offset": 2,
        "len": 2
      },
      "type": {
        "offset": 4,
        "len": 2,
        "default": 256
      },
      "cmd": {
        "offset": 6,
        "len": 1
      },
      "stat": {
        "offset": 7,
        "len": 1,
        "default": 1
      },
      "flags": {
        "offset": 8,
        "len": 2,
        "default": 0
      },
      "payload_data": {
        "offset": 12,
        "len": 26
      },
      "crc": {
        "offset": 38,
        "prev": "payload_data",
        "len": 2,
        "func": "get_crc"
      }
    },
    "status": {
      "payload_data": {
        "offset": 10,
        "len": 64
      }
    }
  }
}
