{
  "AttributeList": [
    {
      "name": "电源开关",				
      "accessMode": "READ_WRITE",
      "attribute": "PowerSwitchAll",
      "command": {
        "bit_flag_index": 0,
        "offset": 0,
        "len": 1
      },
      "status": {
        "offset": 0,
        "len": 1
      }
    },
	{
      "name": "工作状态",				
      "accessMode": "READ_WRITE",
      "attribute": "WorkState",
      "command": {
        "bit_flag_index": 1,
        "offset": 1,
        "len": 1
      },
      "status": {
        "offset": 1,
        "len": 1
      }
    },
    {
      "name": "照明灯",					
      "accessMode": "READ_WRITE",
      "attribute": "Light",
      "command": {
        "bit_flag_index": 2,
        "offset": 2,
        "len": 1
      },
      "status": {
        "offset": 2,
        "len": 1
      }
    },
	{
      "name": "水箱推杆",				
      "accessMode": "READ_WRITE",
      "attribute": "PushRod",
      "command": {
        "bit_flag_index": 3,
        "offset": 3,
        "len": 1
      },
      "status": {
        "offset": 3,
        "len": 1
      }
    },
	{
      "name": "工作模式",				
      "accessMode": "READ_WRITE",
      "attribute": "WorkMode",
      "command": {
        "bit_flag_index": 4,
        "offset": 4,
        "len": 1
      },
      "status": {
        "offset": 4,
        "len": 1
      }
    },
	{
      "name": "菜谱ID",				
      "accessMode": "READ_WRITE",
      "attribute": "CookID",
      "command": {
        "bit_flag_index": 5,
        "offset": 5,
        "len": 12,
		"func":"cookid_cmd"
      },
      "status": {
        "offset": 5,
        "len": 12,
		"func":"cookid_stat"
      }
    },	
	{
      "name": "设定工作时间",				
      "accessMode": "READ_WRITE",
      "attribute": "SetWorkTime",
      "command": {
        "bit_flag_index": 6,
        "offset": 17,
        "len": 3
      },
      "status": {
        "offset": 17,
        "len": 3
      }
    },	
	{
      "name": "设定预约时间",				
      "accessMode": "READ_WRITE",
      "attribute": "SetAppointmentTime",
      "command": {
        "bit_flag_index": 7,
        "offset": 20,
        "len": 3
      },
      "status": {
        "offset": 20,
        "len": 3
      }
    },
	{
      "name": "设定温度值1",				
      "accessMode": "READ_WRITE",
      "attribute": "SetTemperature1",
      "command": {
        "bit_flag_index": 8,
        "offset": 23,
        "len": 1
      },
      "status": {
        "offset": 29,
        "len": 1
      }
    },
	{
      "name": "设定温度值2",				
      "accessMode": "READ_WRITE",
      "attribute": "SetTemperature2",
      "command": {
        "bit_flag_index": 9,
        "offset": 24,
        "len": 1
      },
      "status": {
        "offset": 30,
        "len": 1
      }
    },	
	{
      "name": "设定温度值3",				
      "accessMode": "READ_WRITE",
      "attribute": "SetTemperature3",
      "command": {
        "bit_flag_index": 10,
        "offset": 25,
        "len": 1
      },
      "status": {
        "offset": 31,
        "len": 1
      }
    },
    {
      "name": "工作剩余时间",		
      "accessMode": "READ_ONLY",
      "attribute": "RemainingTime",
      "status": {
        "offset": 23,
        "len": 3
      }
    },
	{
      "name": "多段烹饪剩余时间",	
      "accessMode": "READ_ONLY",
      "attribute": "MultiCookRemainingTime",
      "status": {
        "offset": 26,
        "len": 3
      }
    },	
	{
      "name": "加热盘功率",	
      "accessMode": "READ_ONLY",
      "attribute": "HeatPlatePower",
      "status": {
        "offset": 32,
        "len": 1
      }
    },
	{
      "name": "二级加热功率",	
      "accessMode": "READ_ONLY",
      "attribute": "SecondHeatPower",
      "status": {
        "offset": 33,
        "len": 1
      }
    },
	{
      "name": "温度传感器1",	
      "accessMode": "READ_ONLY",
      "attribute": "TemperatureSensor1",
      "status": {
        "offset": 34,
        "len": 1
      }
    },
	{
      "name": "温度传感器2",	
      "accessMode": "READ_ONLY",
      "attribute": "TemperatureSensor2",
      "status": {
        "offset": 35,
        "len": 1
      }
    },
	{
      "name": "温度传感器3",	
      "accessMode": "READ_ONLY",
      "attribute": "TemperatureSensor3",
      "status": {
        "offset": 36,
        "len": 1
      }
    },
	{
      "name": "水位传感器1",	
      "accessMode": "READ_ONLY",
      "attribute": "WaterLevelSensor1",
      "status": {
        "offset": 37,
        "len": 1
      }
    },	
	{
      "name": "水位传感器2",	
      "accessMode": "READ_ONLY",
      "attribute": "WaterLevelSensor2",
      "status": {
        "offset": 38,
        "len": 1
      }
    },
	{
      "name": "压力传感器",	
      "accessMode": "READ_ONLY",
      "attribute": "PressureSensor",
      "status": {
        "offset": 39,
        "len": 1
      }
    },
	{
      "name": "加热膜",	
      "accessMode": "READ_ONLY",
      "attribute": "HeatFilm",
      "status": {
        "offset": 40,
        "len": 1
      }
    },
	{
      "name": "贯流热风机",	
      "accessMode": "READ_ONLY",
      "attribute": "Fan",
      "status": {
        "offset": 41,
        "len": 1
      }
    },
	{
      "name": "门电子锁",	
      "accessMode": "READ_ONLY",
      "attribute": "DoorLock",
      "status": {
        "offset": 42,
        "len": 1
      }
    },
	{
      "name": "门控开关",	
      "accessMode": "READ_ONLY",
      "attribute": "DoorSwitch",
      "status": {
        "offset": 43,
        "len": 1
      }
    },	
	{
      "name": "食物位置",	
      "accessMode": "READ_ONLY",
      "attribute": "FoodPlace",
      "status": {
        "offset": 44,
        "len": 1
      }
    },	
	{
      "name": "蒸箱故障号",	
      "accessMode": "READ_ONLY",
      "attribute": "SteamerErrorNum",
      "status": {
        "offset": 45,
        "len": 1
      }
    },	
	{
      "name": "远程升级",	
      "accessMode": "READ_ONLY",
      "attribute": "OTA",
      "status": {
        "offset": 46,
        "len": 1
      }
    },
	{
      "name": "菜谱录制状态位",	
      "accessMode": "READ_ONLY",
      "attribute": "RecipeRecordStat",
      "status": {
        "offset": 47,
        "len": 1
      }
    },
	{
      "name": "菜谱播放当前步骤",	
      "accessMode": "READ_ONLY",
      "attribute": "RecipePlayStat",
      "status": {
        "offset": 48,
        "len": 1
      }
    },	
	{
      "name": "缺水提示",	
      "accessMode": "READ_ONLY",
      "attribute": "WaterShortage",
      "status": {
        "offset": 49,
        "len": 1
      }
    },
	{
      "name": "水箱位置",	
      "accessMode": "READ_ONLY",
      "attribute": "TankPlace",
      "status": {
        "offset": 50,
        "len": 1
      }
    },
	{
      "name": "电源板OTA标志位",	
      "accessMode": "READ_ONLY",
      "attribute": "BoardOTAFlag",
      "status": {
        "offset": 51,
        "len": 1
      }
    },
	{
      "name": "远程控制",	
      "accessMode": "READ_ONLY",
      "attribute": "RemoteControl",
      "status": {
        "offset": 52,
        "len": 1
      }
    },	
    {
      "name": "录制状态",	
      "accessMode": "READ_ONLY",
      "attribute": "RecordState",
      "status": {
        "offset": 53,
        "len": 1
      }
    }
  ],
  "version": "0.0.1",
  "header": {
    "command": {
      "head": {
        "offset": 0,
        "len": 2,
        "default": 62709
      },
      "len": {
        "offset": 2,
        "len": 2
      },
      "type": {
        "offset": 4,
        "len": 2,
        "default": 256
      },
      "cmd": {
        "offset": 6,
        "len": 1,
        "default": 49
      },
      "stat": {
        "offset": 7,
        "len": 1,
        "default": 1
      },
      "flags": {
        "offset": 8,
        "len": 2,
        "default": 0
      },
      "payload_bitflag": {
        "offset": 10,
        "len": 2
      },
      "payload_data": {
        "offset": 12,
        "len": 26
      },
      "crc": {
        "offset": 38,
        "prev": "payload_data",
        "len": 2,
        "func": "get_crc"
      }
    },
    "status": {
      "payload_data": {
        "offset": 10,
        "len": 64
      }
    }
  }
}
